.switch {
  display: inline-block;
  vertical-align: middle;
  -moz-user-select: none;
  user-select: none;
}

.switch input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch input + label {
  display: block;
  position: relative;
  outline: none;
  cursor: pointer;
  padding: 2px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  transition: background 0.3s;
}

.switch input + label:before, .switch input + label:after {
  display: block;
  position: absolute;
  content: "";
}

.switch input + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 20px;
  transition: background 0.3s;
}

.switch input + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #fff;
  border-radius: 16px;
  transition: margin 0.3s, background 0.3s;
}

.switch input:checked + label {
  background-color: #57bd35;
}

.switch input:checked + label:after {
  margin-left: 20px;
  background-color: #fff;
}

.switch input + label {
  background-color: #b00;
}

.switch input:disabled + label {
  cursor: not-allowed;
  background-color: #999;
}

body {
  padding: 10px 30px;
  -moz-user-select: none;
  user-select: none;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 0.8em;
}

header {
  padding-left: 15px;
}

header img {
  vertical-align: middle;
  margin-right: 6px;
  width: 48px;
  height: auto;
}

header span {
  vertical-align: middle;
  font-size: 2.2em;
}

table {
  border-collapse: collapse;
}

input[type="button"] {
  min-width: 100px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#switch-row {
  padding: 10px 0;
}

#domain-row {
  border: 1px solid #000;
}

#domain-row td {
  vertical-align: top;
}

#domains {
  width: 250px;
  height: 200px;
}

#domain-info td {
  padding: 2px 4px;
}

#domain-info td:first-child {
  text-align: right;
}

#domain-info td:last-child {
  width: 80px;
  text-align: left;
}

#domain-info td[data-enabled="true"] {
  color: #080;
}

#domain-info td[data-enabled="false"] {
  color: #800;
}

#feedback tr:first-child,
#backup-restore tr:first-child {
  font-weight: bold;
}

#feedback span,
#backup-restore span {
  font-style: italic;
}

#import-file {
  display: none;
}
