.switch {
  display: inline-block;
  vertical-align: middle;
  -moz-user-select: none;
  user-select: none;
}

.switch input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch input + label {
  display: block;
  position: relative;
  outline: none;
  cursor: pointer;
  padding: 2px;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  transition: background 0.3s;
}

.switch input + label:before, .switch input + label:after {
  display: block;
  position: absolute;
  content: "";
}

.switch input + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 20px;
  transition: background 0.3s;
}

.switch input + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #fff;
  border-radius: 16px;
  transition: margin 0.3s, background 0.3s;
}

.switch input:checked + label {
  background-color: #57bd35;
}

.switch input:checked + label:after {
  margin-left: 20px;
  background-color: #fff;
}

.switch input + label {
  background-color: #b00;
}

.switch input:disabled + label {
  cursor: not-allowed;
  background-color: #999;
}

body, table, tr, td {
  margin: 0;
  padding: 0;
}

body {
  -moz-user-select: none;
  user-select: none;
  font-family: "Segoe UI", Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

#switch-board tr:nth-child(n+1) {
  border-top: 1px solid #ddd;
}

#switch-board tr:hover {
  background-color: #f0f0f0;
}

#switch-board td {
  padding: 2px 4px;
}

#switch-board td:first-child {
  text-align: right;
  padding-right: 16px;
}

#title-box, #buttons-table {
  width: 100%;
  height: 32px;
  color: #eee;
  background-color: #666;
  text-align: center;
}

#title-box > span {
  font-size: 1.1em;
  vertical-align: middle;
}

#buttons-table td {
  width: 33%;
}

#badge-toggle, #options-link {
  cursor: pointer;
}

#badge-toggle img, #options-link img {
  vertical-align: middle;
}

#badge-toggle[data-enabled="true"] {
  background-color: #090;
}

#badge-toggle[data-enabled="true"]:hover {
  background-color: #007a00;
}

#badge-toggle[data-enabled="false"] {
  background-color: #900;
}

#badge-toggle[data-enabled="false"]:hover {
  background-color: #7a0000;
}

#badge-toggle + td {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

#options-link:hover {
  background-color: #575757;
}
